/* Options.module.css */
.container {
  padding: 20px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.default {
  background-color: inherit;
}

.good {
  background-color: green;
}

.neutral {
  background-color: yellow;
}

.bad {
  background-color: red;
}
